.headline {
  font-size: 2.5rem;
  

  &::after {
    position: absolute;
    content: "";
    height: 0.25rem;
    background-color: var(--primary-06);
    width: 16rem;
    left: var(--layout-02);
    bottom: calc(var(--spacing-05) * -1);
  }

  @include media-query("md") {
    font-size: 3rem;
  }

  @include media-query("lg") {
    font-size: 3rem;
  }
}
