.button {
  @extend .radius;

  display: inline-block;
  padding: 0.5rem 2rem;
  background: var(--primary-05);
  color: var(--grey-08);
  border: 2px solid;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 800;

  // Make sure hover state trumps all variants with a good ol’ important
  &:hover {
    background: var(--primary-04) !important;
    color: var(--grey-08) !important;
  }

  // Add a ghost modifier
  &[data-variant='ghost'] {
    background: transparent;
    color: var(--primary-09);
  }
}
