.page-content {
  @include apply-utility("leading", "loose");

  > * {
    @include apply-utility("measure", "long");
  }

  blockquote {
    border-inline-start: 0.5rem solid var(--blue-06);
    padding-inline-start: var(--layout-02);
    padding-top: var(--spacing-04);
    padding-bottom: var(--spacing-04);
    font-style: italic;
  }

  h2 {
    font-size: var(--layout-03);
  }

  h3 {
    font-size: var(--layout-02);
  }

  ol,
  ul {
    padding-inline-start: var(--layout-03);
  }

  li + li {
    margin-top: var(--spacing-03);
  }

  li > ul,
  li > ol {
    margin-top: var(--spacing-03);
    margin-bottom: var(--spacing-06);
  }

  // Add a greater flow space for heading elements so
  // they appear more like article sections
  h2,
  h3 {
    --flow-space: var(--layout-04);
  }

  // Add tighter flow for elements that follow a heading
  h2 + *,
  h3 + * {
    --flow-space: var(--spacing-04);
  }
}
