.post-list {
  a {
    text-decoration: none;
  }
  &__item {
    display: flex;
    // gap: var(--spacing-06);
    align-items: baseline;
    border-radius: 8px;

    & > * + * {
      margin-left: var(--spacing-06);
    }
  }
  &__link {
    text-decoration: none;
    font-weight: 600;
    color: var(--text-02);
    &:hover {
      color: var(--text-01);
      text-decoration: underline;
      text-decoration-color: var(--grey-06);
    }
  }
}
