.site-head {
  padding: var(--spacing-05) 0;
  background-color: var(--grey-01);
  margin-bottom: var(--layout-02);
  box-shadow: var(--shadow-01);

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__brand {
    flex-shrink: 0;
    margin-inline-end: get-size("600"); // Prevents nav bunching up to the logo
    text-decoration: none;
    font-weight: 800;
    display: block;
    position: relative;
    color: var(--text-02);
  }

  &__nav {
    padding: get-size("300") 0;
  }

  @include media-query("md") {
    &__brand {
      svg {
        width: 160px;
      }
    }
  }
}
