@mixin tag-primary {
  background-color: var(--primary-02);
  color: var(--primary-09);
  --tag-hover-outline: var(--primary-05);
}

@mixin tag-purple {
  background-color: var(--purple-02);
  color: var(--purple-09);
  --tag-hover-outline: var(--purple-05);
}

@mixin tag-blue {
  background-color: var(--blue-02);
  color: var(--blue-09);
  --tag-hover-outline: var(--blue-05);
}

@mixin tag-grey {
  background-color: var(--grey-02);
  color: var(--grey-09);
  --tag-hover-outline: var(--grey-05);
}

@mixin tag-red {
  background-color: var(--red-02);
  color: var(--red-09);
  --tag-hover-outline: var(--red-05);
}

@mixin tag-yellow {
  background-color: var(--yellow-02);
  color: var(--yellow-09);
  --tag-hover-outline: var(--yellow-05);
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  //gap: var(--spacing-03);

  li {
    margin-top: var(--spacing-03);
  }

  li + li {
    margin-left: var(--spacing-03);
  }

  .tag {
    border-radius: 8px;
    padding: var(--spacing-02) var(--spacing-03);
    background-color: var(--grey-02);
    color: var(--grey-09);
    border: 2px solid transparent;
    text-decoration: none;
    font-size: 1rem;

    &:hover {
      // box-shadow: 0 2px 4px rgba(0,0,0,.1);
      border: 2px solid var(--tag-hover-outline, var(--grey-05));
    }
  }

  .tag[data-tag="learning"] {
    @include tag-yellow;
  }

  .tag[data-tag="tips-and-tricks"] {
    @include tag-purple;
  }

  .tag[data-tag="css"] {
    @include tag-blue;
  }

  .tag[data-tag="ux"] {
    @include tag-primary;
  }

  .tag[data-tag="design-thinking"] {
    @include tag-blue;
  }
}
